langchain-google-genai
langchain-core
typing-extensions
langgraph
langchain-community
faiss-cpu
langchain-huggingface
sentence-transformers
fastapi
uvicorn[standard]
pydantic_settings
SQLAlchemy
pymysql
sqlalchemy[asyncio] 
aiomysql
asyncpg